.container{
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.tag{
  display: flex;
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  border-radius: 65.4375rem;
  background-color: var(--grey-400);
  color: var(--grey-200);
}